<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-9">
        <title>Hello web page</title>
    </head>

    <body>
        <form>
            <p>
                <input type="radio" id="small" name="size" value="S" checked>
                <label for="small">S</label>
                <br>
                <input type="radio" id="medium" name="size" value="M">
                <label for="medium">M</label>
                <br>
                <input type="radio" id="large" name="size" value="L">
                <label for="large">L</label>
                <br>
            </p>
            <p>
                <input type="radio" id="red" name="color" value="red" checked>
                <label for="red">red</label>
                <br>
                <input type="radio" id="green" name="color" value="green">
                <label for="green">green</label>
                <br>
                <input type="radio" id="blue" name="color" value="blue">
                <label for="blue">blue</label>
                <br>
            </p>
            <input type="submit" id="buyButton" value="Buy a new t-shirt">
        </form>
        <p id="result"></p>
        <script src="/tshirt.js"></script>
    </body>
</html>